extends includes/_layout

block content
  section.about
        img(src="images/camera.png", alt="Camera")
        .about__details
          h2 Featured Camera
          p Lorem ipsum dolor sit amet consectetur adipisicing elit.
          p Lorem ipsum dolor sit amet.
          button Learn More →